.contenedorformulario{
    width: 30%;
    min-height: 160px;
    float: left;
    margin-left: 19%;
    margin-right: 2%;
    margin-bottom: 1%;
}

.contenedorformulario1{
    width: 30%;
    float: right;
    min-height: 160px;
    margin-right: 19%;
    margin-bottom: 1%;
}

.pulsacion{
    float: left;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

.contenedor{
    margin-top: 3%;
    width: 100%;
    text-align: center;
    min-height: 350px;
}

button{
    text-align: center;
}