<div class="contenedor">

    <div class="contenedorformulario">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" [(ngModel)]="persona.nombre"  id="floatingInput">
            <label for="floatingInput">Nombre</label>
        </div>


        <div class="form-floating">
            <select class="form-select" id="floatingSelect" [(ngModel)]="persona.sexo" aria-label="Floating label select example">
                <option selected disabled>Selecciona una opción</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
            </select>
            <label for="floatingSelect">Sexo</label>
        </div>

    </div>
    <div class="contenedorformulario1">

        <div class="form-floating mb-3">
            <input type="text" class="form-control" [(ngModel)]="persona.apellido" id="floatingInput">
            <label for="floatingInput">Apellido</label>
        </div>

        <div class="form-floating mb-3">
            <input type="number" class="form-control" [(ngModel)]="persona.edad" id="floatingInput" >
            <label for="floatingInput">Edad</label>
        </div>

    </div>

    <div class="pulsacion">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" [(ngModel)]="persona.pulsacion" id="floatingInput" disabled >
            <label for="floatingInput">Pulsación</label>
        </div>

        
    </div>
    <button type="button" class="btn btn-outline-danger" (click)="ValidarSexo()">Calcular Pulsación</button>

</div>

