<div class="contenedortodo">

        <h1>Pulsaciones</h1>
        <p class="parrafo1">Las pulsaciones o el ritmo cardíaco, es la frecuencia con la que le corazón late. Un pulso permanentemente alto o
            bajo no es una buena señal. Existen dos tipos de pulsaciones: Por un lado, tenemos el pulso retrógrado, que va
            en contra del flujo sanguíneo y por otro lado el pulso anterógrado, que va con el flujo sanguíneo. En medicina, el
            pulso venoso da información importante sobre el corazón. Mide la regularidad y ritmo de la subida de presión.
        </p>
      
        <img src="../../assets/pulsacion.jpeg" alt="imagen no encontrada">

        <h2>Medir las pulsaciones</h2>
        <p class="parrafo2">Medir las pulsaciones es un método importante para obtener información sobre las funciones vitales de tu cuerpo,
            tales como actividad cardíaca, balance de fluidos y flujo sanguíneo. El pulso puede ser medido de manera manual
            o a través de monitores de medición. Cuando medimos las pulsaciones de manera manual, lo que sentimos es
            una arteria, ésta nos dará la información sobre la frecuencia y la calidad del latido. Para medir las
            pulsaciones de manera manual es recomendable utilizar los puntos del cuerpo en los que las arterias están justo
            debajo de la piel, como las muñecas, la parte lateral del cuello o por debajo de la mandíbula. También puedes
            medirlo por la ingle, la fosa poplítea o parte de atrás del pie.</p>
    
    
    
    </div>